.main-background {
  background-color: var(--main-bg-color);
  background-image: url('../img/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  padding: 40px 20px;
  z-index: 2;
  color: var(--main-title-color);
  font-family: 'Lobster', cursive;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 20px;
  text-shadow: 3px 3px 5px #f8f8f8;
}

.main-about {
  font-size: 24px;
  padding: 40px 20px;
  border-bottom: 1px solid var(--main-text-color);
}
