.main-background {
  background-color: var(--main-bg-color);
  background-image: url('../img/bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  color: var(--main-title-color);
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px 5px #f8f8f8;
  z-index: 2;

  @media screen and (min-width: 320px) {
    padding: 20px 0;
    font-size: 26px;
  }

  @media screen and (min-width: 768px) {
    padding: 40px 20px;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 20px;
  }
}

.main-about {
  font-size: 24px;
  padding: 40px 20px;
  border-bottom: 1px solid var(--main-text-color);
}
